@charset "utf-8";

// Here go any variables you want to overwrite
$green: #009c82;
$purple: #db0651;

$primary: $green;
$secondary: $purple;

@import "../node_modules/bulma/bulma.sass";
@import "xtable.sass";

.avatar {
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
}

.avatar.is-large {
    max-width: 200px;
    max-height: 200px;
}

.navbar-item img.avatar {
    max-width: 40px;
    max-height: 40px;
}



.chained {
    display: block;
    position: relative;
}

.chained:not(:last-child) {
    margin-bottom: 1.5rem;
}

.chained + .chained::before {
    content: "▽";
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}



.lesson {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: $size-7 $size-6;
    cursor: pointer;
    color: inherit;
    display: block;
}

.lesson.startable {
    border: 1px solid $purple;
}

.lesson.passed {
    border: 1px solid $green;
}

.lesson.in_progress {
    background-color: $purple;
    color: #eee;
    h6.title {
        color: white;
    }
    .tag {
        color: #444 !important;
        background-color: white;
    }
}


@media(max-width: 640px){
    table.lesson-details.xtable {
        &, td, tr, th { display: block; text-align: left; } 
        th, td { margin: 0; padding-left: 0; padding-right: 0; }
        thead { display: none; }
    }
}

table.lesson-details {
    width: 100%;
}

    
@font-face {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(/static/font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.assignment {
    & > * {
        margin-bottom: 0.5rem;
    }
    * + h1 {
        margin-top: 2rem;
    }
    * + h2, * + h3, * + h4 {
        margin-top: 1rem;
    }
    h1 + h2, h2 + h3, h3 + h4, h3 + .objective, h2 + .objective, h1 + .objective {
        margin-top: 0.5rem;
    }

    h1,h2,h3,h4,h5 {
        clear: both;
        margin-bottom: 0.25rem;
    }

    h1 {
        color: $green;
        font-size: 1.3rem;
        font-weight: bold;
        border-bottom: 1px solid $green;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.3rem;
        color: $purple;
        border: none;
    }

    h3, h4, h5 {
        font-weight: bold;
    }

    h3 {
        color: #666;
    }

    .stats {
	    color: #888;
	    margin: -0.5rem 0 0.5rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 1rem;
    }
        
    pre {
        background-color: whitesmoke;
        color: $green;
        display: block;
        padding: 0.5rem 1rem;
        white-space: pre;
        code {
            color: $green;
        }

        em {
            color: $purple;
        }
    }

    code {
        font-family: "Courier New";
        color: $green;
        font-weight: bold;
    }

    img, video {
        box-shadow: 0 3px 6px rgba(0,0,0,0.3);
        border-radius: 4px;
        max-width: 50%;
        max-height: 80%;
    }

    .no-border {
        box-shadow: none;
        border-radius: 0;
    }

    wired-card, .side {
        max-width: 400px;
        clear: both;
        display: table;
        @media (min-width: 900px) {
            float: right;
            margin-left: 1rem;
        }
        img,video {
            max-width: 100%;
        }
    }

    wired-card {
        line-height: 1.5em;

        .hor {
            display: flex;
            align-items: center;
        }
        .hor > * {
            margin-right: 10px;
        }
        .hor > *:last-child {
            margin-right: 0;
        }

        h1, h2, h3, h4, h5 {
            font-weight: bold;
        }
        h1 { font-size: 1.75rem; }
        h2 { font-size: 1.6rem; }
        h3 { font-size: 1.45rem; }
        h4 { font-size: 1.30rem; }
        h5 { font-size: 1.15rem; }

        table {
            width: inherit;
        }
    }
    
    wired-card, wired-card * {
        font-family: 'Gloria Hallelujah' !important;
    }

    wired-card wired-card {
        float: none;
    }
    
    wired-card > * {
        margin: 10px 10px 0 10px;
    }
    wired-card > *:last-child {
        margin-bottom: 10px;
    }
    
    wired-card small {
        display: block;
        font-size: 70%;
        font-weight: bold;
    }
    
    wired-card a {
        text-decoration: underline;
        display: block;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.objective {
    margin: 2rem 0;
    > .rubric {
        flex: 0 0 300px;
        > label {
            display: block;
        }
        > label > p {
            display: inline;
        }
        > label:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    > .body, > .rubric {
        padding: 0.5rem 0 0.5rem 1rem;
        //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)
        border-left: 4px solid $green;
    }

    > .rubric {
        border-left: 4px solid $purple;
    }

    h2 {
        color: $green;
        font-weight: bold;
        font-size: 100%;
        > .tag {
            float: right;
        }
    }

    .body {
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}


@media(min-width: 1216px) {
    .assignment {
        .objective {
            display: flex;
            > *:first-child {
                flex: 1;
            }
        }
    }
}


.link {
    font-size: 1rem;
    color: $link;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
}

.link::after {
    content: ' ▼';
}


.link.shown::after {
    content: ' ▲';
}

a.link_preview {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    display: flex;
    > .thumbnail {
        width: 10rem;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #eee;
    }
    > .info {
        padding: 1rem;
        flex: 1;
        > h1 {
            font-size: 100%;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0.5rem;
            color: $link;
            border: none;
        }
        > p {
            color: $text;
        }
    }
}


table.rubric-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 1em 0;

    th, td {
        width: 15%;
    }

    th.noborder, td.noborder {
        border: 0;
    }

    th:first-child, td:first-child {
        width: 4rem;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 25%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 4em;
    }
}

table.map-table {
    width: 100%;
    border: 1px solid $green;
    thead, tfoot, tr.highlight {
        background-color: $green;
        th, td {
            color: white;
            font-weight: normal;
        }
    }
    tr.failed {
        background-color: $purple;
    }
    tr.incomplete {
        background-color: #444;
    }
    th {
        font-weight: bold;
    }
    td, th {
        padding: 0.25rem 0.5rem;
        vertical-align: middle;
    }
    tbody {
        tr:not(:first-child) {
            border-top: 1px solid #eee;
        }
    }
    td:not(:first-child), th:not(:first-child) {
        max-width: 3.5rem;
        width: 3.5rem;
        text-align: right;
        overflow: hidden;
    }
    td.error, th.error {
        color: $purple;
    }
}

.content ul {
    margin-left: 1rem;
}

.content ul:first-child {
    margin-top: 0;
}

@media print {
    html {
        font-size: 11pt;
    }
    nav.navbar {
        display: none;
    }
}



$ct-series-colors: (
  #d70206,
  #f05b4f,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

.ct-legend {
    display: flex;
    margin-right: -10px;
    li {
        margin-right: 10px;
    }

    li:before {
        width: 12px;
        height: 12px;
        border: 3px solid transparent;
        border-radius: 2px;
        content: '';
        display: inline-block;
        margin-right: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}



.buttons {
    justify-content: flex-end;
}

.field-body ul {
    margin: 0;
    padding :0;
}

.field-body li {
    display: block;
    padding: 0.1rem;
}

.field + .field {
    border-top: 1px solid #f0f0f0;
    padding-top: 1rem;
}