<html>
	<link rel="stylesheet" href="/static/style.css">
	<body>
		{% for field in form %}
			<div>
				{{field}}
				type={{field.type}}
				label={{field.label}}
				{% for error in field.errors %}
					error={{error}}
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>
