{% extends "layout.html" %}

{% block title %}
Bison grades
{% endblock %}

{% block body %}

<table class="xtable">
    <tr>
        <th>Date</th>
        <th>Module</th>
        <th>Student</th>
        <th>Grade</th>
        <th>Result</th>
    </tr>
{% for attempt in grades %}
    <tr>
        <td>{{attempt.date}}</td>
        <td>{{attempt.node_id}}</td>
        <td>{{attempt.first_name}} {{attempt.last_name}}</td>
        <td>{{attempt.grade}}</td>
        <td>{{attempt.status}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}