{% extends "layout.html" %}

{% block title %}Learning{% endblock %}

{% block body %}

{% if student and student.id != current_user.id %}
    <h4 class="subtitle is-4">{{ student.short_name }}</h4>
{% endif %}

{% if current_user.is_teacher %}
    {% for error in errors or [] %}
        <div class='notification is-danger'>{{error}}</div>
    {% endfor %}
    {% for warning in warnings or [] %}
        <div class='notification is-warning'>{{warning}}</div>
    {% endfor %}
{% endif %}

<div class="tabs">
    <ul class="tab-selectors">
    {% for block_name, block in periods.items() %}
        <li><a>
            {{ block_name }}
        </a></li>
    {% endfor %}
    </ul>
</div>

<div class="tab-blocks">
    {% for block_name, block in periods.items() %}
    <div class="columns mt-6{{' tab-initial' if block_name==initial_block else ''}}">
        {% for topic in block %}
        <div class="column">
            
            <h4 class="title is-4">
                {{topic.name}} <div class="details-expand link">Info…</div>
                {% if topic.wip %}
                    <span class="tag is-dark ml-1 mb-1 is-pulled-right">Not ready</span>
                {% endif %}
            </h4>
            <div class="details-block content">
                {{(topic.get('description') or '')|markdown|safe}}
                {% if topic.get('goals') %}
                    Learning goals:
                {% endif %}
                <ul>
                    {% for goal_title in topic.get('goals').values() %}
                        <li>{{goal_title}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mb-4"></div>
            {% for lesson in topic.nodes %}
                {% for depend_id in lesson['depend'] %}
                    <a class="chained title is-6 has-text-link has-text-centered" href="/curriculum/{{nodes_by_id[depend_id].id}}{{(student and student.url_query) or ''}}">
                        {{modules_by_id[nodes_by_id[depend_id].module_id].name}}: {{nodes_by_id[depend_id].name}}
                    </a>
                {% endfor %}
                <a class="chained lesson {{lesson['status']}} {{'is-test' if lesson['ects']}}" href="/curriculum/{{lesson.id}}{{(student and student.url_query) or ''}}">
                    {% if lesson['ects'] %}
                        <div class="tag is-danger ml-1 mb-1 is-pulled-right">{{lesson['ects']}} ects</div>
                    {% endif %}
                    {% if lesson['days']>1 %}
                        <div class="tag is-info ml-1 mb-1 is-pulled-right">{{lesson['days']}} days</div>
                    {% endif %}
                    {% if current_user.is_teacher %}
                        {% if lesson['errors'] %}
                            <span class="tag is-dark ml-1 mb-1 is-pulled-right">Errors</span>
                        {% elif lesson['warnings'] %}
                            <span class="tag is-warning ml-1 mb-1 is-pulled-right">Warnings</span>
                        {% endif %}
                    {% endif %}
                    <h6 class="title is-6 mb-1">
                        {{lesson['name']}}
                    </h6>
                    {{lesson['description']}}
                </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if stats %}
    <p style="padding-top: 1em; margin-top: 1em; border-top: 1px solid #bbb; color: #bbb; text-align: center;">
        {% for year, info in stats.items() %}
            Year {{year}} has {{info['*'].count}} nodes, spanning {{info['*'].avg_days}} nominal days.
        {% endfor %}
    </p>
{% endif %}

<script src="/static/tabs.js"></script>
<script src="/static/details.js"></script>

{% endblock %}
