{% macro form_macro(form, action) %}
<form method="post" action="{{ action }}">
    {% for field in form -%}
        {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
            <div class="field is-horizontal">
                <div class="field-label">
                    {%- if field.type != 'SubmitField' and field.type != 'BooleanField' -%}
                        <label class="label">{{field.label}}</label>
                    {%- endif -%}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {{ field(
                                class_=("input" if field.type in ['StringField','IntegerField','DateField'] else 'textarea' if field.type=='TextAreaField' else '')+(' is-danger' if field.errors else '')
                            ) }}
                            {%- if field.type == 'BooleanField' -%}
                                {{" "}}{{field.label}}
                            {%- endif -%}
                        </div>
                        {%- for err in field.errors -%}
                            <p class="help is-danger">{{ err|e }}</p>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor -%}

    <div class="field"><div class="buttons">
        {% for field in form -%}
            {% if field.type == 'SubmitField' %}
                {{ field(class_="button is-primary") }}
            {% endif %}
        {% endfor -%}
    </div></div>

    {% for field in form -%}
        {% if field.type == 'CSRFTokenField' %}
            {{ field() }}
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}