{% extends "layout.html" %}
{% block title %}Welcome{% endblock%}
{% block body %}
<p>
    Welcome to the Learning Management System (LMS) for the Associate Degree Software Development programme, by the Saxion University of Applied Sciences.
</p>

<p class="mt-2">
    The programme uses a non-traditional learning model, that allows each student to work on her/his own pace. Students work through a large collection of increasingly challenging assignments. This site contains these assignments, as well as tools for tracking progress, grading, and other things. Most parts of this site require a login, but the curriculum overview is publicly available.
</p>
{% endblock %}