{% extends "layout.html" %}

{% block title %}
Inbox
{% endblock %}

{% block body %}

{% for attempt in ungraded_attempts %}

    {% if not loop.previtem or loop.previtem.student.class_name != attempt.student.class_name %}
        {% if loop.previtem %}
            </div>
        {% endif %}
        <h4 class="subtitle is-4 mb-1 mt-2">{{attempt.student.class_name or "No class"}}</h4>
        <div class="columns is-multiline">
    {% endif %}

    <a href="/curriculum/{{attempt.node_id}}?student={{attempt.student_id}}" class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen">
        <div class="media">
            <div class="media-left">
                <img class="avatar" src="{{attempt.student.avatar}}" alt="Student avatar">
            </div>
            <div class="media-content">
                <p class="title is-6">
                    {{attempt.student.short_name}}
                </p>
                <p class="subtitle is-6">
                    {% if attempt.status == "needs_grading" %}
                    Grade
                    {% elif attempt.status == "awaiting_approval" %}
                    Approve start of
                    {% elif attempt.status == "needs_consent" %}
                    Consent grade for
                    {% endif %}
                    {{modules[nodes[attempt.node_id].module_id].name}}
                    ⪢
                    {{nodes[attempt.node_id].name}}
                </p>
            </div>
        </div>
    </a>
{% endfor %}
{% if attempt %}
    </div>
{% endif %}

{% endblock %}