<!doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Lms42</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	{% if not hide_header %}
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item has-text-weight-bold" href="{{'/curriculum' if current_user.is_authenticated else '/'}}">
					LMS42
				</a>
				
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/curriculum">
						Learning
					</a>
					{% if current_user.is_authenticated and current_user.is_teacher %}
						<a class="navbar-item" href="/inbox">
							Inbox
						</a>
						<a class="navbar-item" href="/trial">
							Trials
						</a>
					{% endif %}
					<a class="navbar-item" href="/people">
						People
					</a>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							More
						</a>
						
						<div class="navbar-dropdown">
							<a class="navbar-item" href="/coc">
								Code of Conduct
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="/overview">
								Curriculum
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="mailto:f.c.vanviegen@saxion.nl">
								Report an issue
							</a>
						</div>
					</div>
				</div>

				{% if current_user.is_authenticated %}
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							{% if current_user.current_attempt %}
								<a class="has-text-white mr-4" href="/curriculum/{{current_user.current_attempt.node_id}}">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="36px" height="36px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1zm1 14H8c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1zm3-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1z" fill="currentColor"/></svg>
								</a>
							{% endif %}
							<a class="mr-4" href="{{ url_for('edit', userId=current_user.id)}}">
								<img class="avatar" src={{current_user.avatar}}>
							</a>
							<form method="post" action="/user/logout">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								<input type="submit" class="button is-light" value="Log out">
							</form>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</nav>
	{% endif %}
	
	<section class="section">
		<main class="container">
			{% if not hide_header %}
			{% for message in get_flashed_messages() %}
			<article class="message is-warning">
				<div class="message-body">
					{{ message }}
				</div>
			</article>
			{% endfor %}

			{% if self.breadcrumbs() | trim %}
			<nav class="breadcrumb" aria-label="breadcrumbs">
				<ul>
					{% block breadcrumbs %}{% endblock %}
				</ul>
			</nav>
			{% endif %}
			{% endif %}

			{% if self.title() | trim  %}
			<h2	class="title is-2">
				{% block title %}{% endblock %}
			</h2>
			{% endif %}

			{% block body %}{% endblock %}
		</main>
	</section>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			
			// Get all "navbar-burger" elements
			const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
			
			// Add a click event on each of them
			$navbarBurgers.forEach( el => {
				el.addEventListener('click', () => {
					
					// Get the target from the "data-target" attribute
					const target = el.dataset.target;
					const $target = document.getElementById(target);
					
					// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
					el.classList.toggle('is-active');
					$target.classList.toggle('is-active');
					
				});
			});
			
		});
		fetch('/time_log/ping');
		setInterval(function() {
			fetch('/time_log/ping');
		}, 60*1000);
	</script>
	
</body>
</html>
