{% extends "layout.html" %}

{% block head %}
<link rel="preload" href="/static/font.woff2" as="font">
<base href="{{base_url}}/curriculum/{{node.id}}/static/">
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/curriculum">Curriculum</a></li>
    <li><a href="/curriculum#{{node.position[0]}}.{{node.position[1]}}">{{node.position[0]}}.{{node.position[1]}}</a></li>
    {% if topic and topic.name %}
        <li><a href="/curriculum#{{node.position[0]}}.{{node.position[1]}}">{{topic.name}}</a></li>
    {% endif %}
    <li class="is-active"><a href="#">{{node.name}}</a></li>
{% endblock %}

{% block title %}
    {{node.name}}
    {% if node['ects'] %}
        <div class="tag is-danger is-large is-pulled-right">Exam</div>
    {% endif %}
{% endblock %}

{% block body %}

{% if student and student.id != current_user.id %}
    <h4 class="subtitle is-4">{{ student.short_name }}</h4>
{% endif %}

<table class="xtable lesson-details">
    {% if current_user.is_authenticated and current_user.is_teacher %}
        {% if node['errors'] %}
            <tr><th>Errors</th><td class="content"><ul>
                {% for error in node['errors'] %}
                    <li class="has-text-danger">{{error}}</li>
                {% endfor %}
            </ul></td></tr>
        {% endif %}
        {% if node['warnings'] %}
            <tr><th>Warnings</th><td class="content"><ul>
                {% for warning in node['warnings'] %}
                    <li class="has-text-danger">{{warning}}</li>
                {% endfor %}
            </ul></td></tr>
        {% endif %}
    {% endif %}

    <tr><th>Description</th><td>{{node.description}}</td></tr>
    <tr><th>Type</th><td>{{ {
        "hand-in": "Hand-in assignment with oral explanation",
        "assessment": "Hand-in assignment with assessment",
        "portfolio": "Portfolio with public defence",
        "project": "Project with assessment",
        "internship": "Internship",
        "overhead": "Overhead",
    }[node.type] or node.type }}.</td></tr>
    <tr><th>Duration</th><td>{{ 'About' if node['allow_longer'] or not node['ects'] else 'At most'}} {{node['days']}} {{'working days' if node['days'] > 1 else 'working day'}}.</td></tr>
    {% if node['ects'] %}
        <tr><th>Credits</th><td>{{node['ects']}}</td></tr>
        <tr><th>Test matrix</th><td>
            <table class="map-table">
                <thead><tr>
                    <th>{{"Final qualification" if node["type"]=="graduation" else "Learning goal"}}</th>
                    <th>Know</th>
                    <th>Comprehend</th>
                    <th>Apply</th>
                    <th>Analyze</th>
                    <th>Evaluate</th>
                    <th>Create</th>
                    <th>Σ</th>
                </tr></thead>
                <tbody>
                {% for goal in node['goals'].values() %}
                    <tr>
                        <td>{{goal.title}}</td>
                        {% for bloom in ['know', 'comprehend', 'apply', 'analyze', 'evaluate', 'create'] %}
                            <td>{{(goal.fraction * (goal[bloom] or 0) / goal.weight * 100)|round|int}}</td>
                        {% endfor %}
                        <th>{{(goal.fraction * 100)|round|int}}</th>
                    </tr>
                {% endfor %}
            </tbody></table>
        </td></tr>
    {% else %}
        <tr><th>Learning goals</th><td class="content">
            <ul>
                {% for goal in node['goals'].values() %}
                    <li>{{goal.title}} <span class="tag">{{(goal.fraction * 100)|round|int}}%</span></li>
                {% endfor %}
            </ul>
        </td></tr>
    {% endif %}
    {% if node['nlqf'] %}
    <tr><th>NLQF</th><td class="content">
        <ul>
            {% for goal in node['nlqf'] %}
                <li>{{goal}}</li>
            {% endfor %}
        </ul>
    </td></tr>
    {% endif %}
    
    {% if status %}
        <tr><th>Status</th><td class="content">
        {% if status.action == 'login' %}
            You need to <a href="/user/login">log in</a> to view the learning materials and assignment(s).
        {% else %}
            <ul>
                {% if status.deadline %}
                    <li>Deadline: {{status.deadline | localtime}}</li>
                {% endif %}
                {% if status.status == 'passed' %}
                    <li class="has-text-success">Passed!</li>
                {% endif %}
                {% if status.status == 'failed' %}
                    <li class="has-text-error">Failed.</li>
                {% endif %}
                {% if status.status == 'repair' %}
                    <li class="has-text-error">Improve your work based on the feedback.</li>
                {% endif %}
                {% if status.status in ['needs_grading','needs_consent'] %}
                    <li class="has-text-success">Awaiting grading...</li>
                {% endif %}
                {% for error in status.errors %}
                    <li>{{error}}</li>
                {% endfor %}
                {% for warning in status.warnings %}
                    <li>{{warning}}</li>
                {% endfor %}
            </ul>
            {% if status.action == 'start' and not status.errors %}
                <div class="buttons">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input class="button {{'is-primary' if not status.warnings}}" type="submit" name="start" value="Start attempt{{' anyway' if status.warnings}}">
                    </form>
                </div>
            {% endif %}
        {% endif %}
        </tr>
    {% endif %}

    
</table>


{% if assignments|length > 1 %}
<div class="tabs">
    <ul class="tab-selectors">
    {% for name, assignment in assignments.items() %}
        <li><a>
            {{ name }}
        </a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="{{'tab-blocks' if assignments|length > 1}}">
    {% for name, assignment in assignments.items() %}
        <div class="assignment content">

            {% if assignment.notifications %}
                <div class="mt-2 notification content">
                    {% if assignment.notifications|length == 1 %}
                        {{assignment.notifications[0]|safe}}
                    {% else %}
                        <ul>
                            {% for notification in assignment.notifications %}
                                <li>{{notification|safe}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            {{ assignment.html|safe }}

            {% if assignment.submit_form %}
                <h1>Submit attempt</h1>

                {% for warning in assignment.submit_warnings %}
                    <div class="mt-4 notification is-warning">{{warning}}</div>
                {% endfor %}

                {% from "form-macro.html" import form_macro %}
                {{ form_macro(assignment.submit_form) }}
            {% endif %}
        </div>
    {% endfor %}
</div>

<script src="/static/tabs.js"></script>

{% endblock %}
