{% extends "layout.html" %}

{% block title %}Curriculum{% endblock %}

{% block body %}


<div class="columns">
	<div class="column">
		<p>
			The figure on the right describes the structure of the study programme. At the top level, the programme consists of eight end qualifications. Each of the end qualifications must be demonstrated by the student in the final examination, by means a portfolio and a public defence.
		</p>
		<p>
			Besides that, the end qualifications have learning outcomes attached. The end qualifications and learning outcomes have been set in accordance with the <i>HBO-i domeinbeschrijving</i>, NLQF and the input provided by the <i>beroepenveldcommissie</i> by the curriculum committee. As such they cannot not be changed lightly - there's a yearly evaluation process for that.
		</p>
		<p>
			Each learning outcome has one or more (typically about two) learning goals attached to it. This extra layer is to adapt the learning outcomes into units that are well-suited for a coherent study programme. They are set by the curriculum committee. These learning goals are also the test goals for each of the regular (non-final) exams.
		</p>
	</div>
	<div class="column ml-5">
		<img src="/static/curriculum-overview.png" />
	</div>
</div>


<div class="tabs">
	<ul class="tab-selectors">
		<li><a>By qualification</a></li>
		<li><a>By period</a></li>
	</ul>
</div>

<div class="tab-blocks">

	<div class="content test-program">
		<p>
			What follows is the list of end qualifications with their learning outcomes. Each learning outcome can be expanded to show its learning goals, as well as the formative assignments and exams that they are part of. 
		</p>

		<ul>
			{% for endterm in endterms %}
			<li>
				<em>{{ endterm.short }}:</em>
				<span>{{ endterm.description }}</span>
				<br/>
				<em>Learning outcomes:</em>
				<ul class="mb-3">
					{% for outcome in endterm.outcomes %}
					<li>
						{{ outcome.description }} 
						<div class="details-expand details-expand-group link">Details</div>
						<ul class="details-block">
							{% if outcome['justification'] %}
							<li>
								<div class="tag is-info ml-1 mb-1">justification</div>
								{{ outcome['justification'] }}
							</li>
							{% endif %}    
							{% for goal in outcome.goals %} 
							<li>
								{{ goal.description.title }} 
								<div class="columns">
									{% for lesson in goal.nodes %} 
									<div class="column my-3">
										<a class="lesson {{lesson['status']}} {{'is-test' if lesson['ects']}} node-{{lesson.id}}" href="/curriculum/{{lesson.id}}">
											
											{% if lesson['days']>1 %}
												<div class="tag is-info ml-1 mb-1 is-pulled-right">{{lesson['days']}} days</div>
											{% endif %}
											{% if lesson['ects'] %}
												<div class="tag is-danger ml-1 mb-1 is-pulled-right">{{lesson['ects']}} ects</div>
											{% endif %}
											<h6 class="title is-6 mb-1">
												{{lesson['name']}}
											</h6>
											{{lesson['description']}}
										</a>
									</div>    
								{% endfor %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>


	<div class="assignment">
		{% for block_name, block in periods.items() %}
			<h1>Period {{block_name}}</h1>
		
			{% for topic in block %}
				<h2>
					{{topic['name']}}
				</h2>
				<div class="stats">
					{{topic["avg_days"] | round | int}} days nominal · {{topic["ects"]}} credits
				</div>
				<div class="content">
					{{(topic.get('description') or '')|markdown|safe}}
					{% if topic.get('goals') %}
						When finishing this module students should be able to...
						<ul>
							{% for goal_title in topic.get('goals').values() %}
								<li>{{goal_title}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		{% endfor %}	
	</div>

</div>
	

<script src="/static/tabs.js"></script>
<script src="/static/details.js"></script>
<script src="/static/highlight.js"></script>

{% endblock %}

