{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/croppie.min.css">
{% if graph %}
<link rel="stylesheet" href="/static/chartist.min.css">
<script src="/static/chartist.min.js"></script>
<script src="/static/chartist-plugin-legend.js"></script>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/people">People</a></li>
    <li class="is-active"><a href="#">{{person.short_name or 'New'}}</a></li>
{% endblock %}

{% block title %}
    {{person.full_name or 'Add a person'}}
{% endblock %}


{% block body %}

{% if person.email %}
<h2 class="subtitle is-4">{{ person.description }}</h2>

<div class="buttons">
    {% if current_user.id != person.id %}
    <a class="button" target="_blank" href="mailto:{{person.email}}">{{person.email}}</a>
    <a class="button" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users={{person.email}}">Chat in Teams</a>
    {% if current_user.is_teacher and not person.is_inspector %}
    <a class="button" href="/curriculum{{person.url_query}}">Learning</a>
    {% endif %}

    {% endif %}
</div>
{% endif %}

<div class="columns">

    {% if edit_form %}
    <div class="column"><div class="box column">
        <h4 class="title is-4">Personalia</h4>
        {% from "form-macro.html" import form_macro with context %}
        {{ form_macro(edit_form, action) }}
    </div></div>
    {% endif %}

    <div class="column"><div class="box">
        <h4 class="title is-4">Mentees</h4>
        {% if mentees %}
            <ul>
            {% for mentee in mentees %}
                <li>{{mentee.name}}: <a href="/curriculum/{{mentee.node_id}}">{{mentee.node}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <div>None.</div>
        {% endif %}
    </div></div>

    {% if update_avatar %}
    <script src="/static/croppie.min.js"></script>
    <div class="column"><div class="box">
        <h4 class="title is-4">Profile picture</h4>
        <div id="avatarPicker">
            <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
            <div class="file">
                <label class="file-label">
                <input id="avatarInput" class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M11 15h2V9h3l-4-5l-4 5h3z" fill="currentColor"/><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z" fill="currentColor"/><rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" /></svg>
                    </span>
                    <span class="file-label">
                    Choose a file…
                    </span>
                </span>
                </label>
            </div>
        </div>
        <div id="avatarFinalizer" style="display: none;">
            <div id="avatarEditor" style="width: 200px; height: 200px; margin-bottom: 40px;"></div>
            <div class="buttons">
                <div id="avatarCancelButton" class="button">Cancel</div>
                <div id="avatarUploadButton" class="button is-primary">Upload</div>
                <form id="avatarForm" action="/people/{{person.id}}/avatar" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input name="avatar" id="avatarHiddenInput" type="hidden">
                </form>
            </div>
        </div>
    </div></div>
    <script>
        let croppie = new Croppie(document.getElementById('avatarEditor'), {
            viewport: {
                width: 200,
                height: 200,
                type: 'circle'
            },
            enableExif: true
        });
        function showFinalizer(val) {
            document.getElementById("avatarFinalizer").style.display = val ? "block" : "none";
            document.getElementById("avatarPicker").style.display = val ? "none" : "block";
        }
        document.getElementById("avatarInput").addEventListener("change", function(changeEvent) {
            let files = changeEvent.target.files;
            if (files && files[0]) {
                var reader = new FileReader();
                reader.onload = function (loadEvent) {
                    showFinalizer(true);
                    let editor = document.getElementById("avatarEditor");
                    editor.classList.add("ready");
                    croppie.bind({url: loadEvent.target.result});
                };
                reader.readAsDataURL(files[0]);
            }
        });
        document.getElementById("avatarCancelButton").addEventListener('click', function() {
            showFinalizer(false);
        });
        document.getElementById("avatarUploadButton").addEventListener('click', function() {
            croppie.result({type: 'base64', format: 'jpeg', circle: false}).then(function(base64) {
                document.getElementById("avatarHiddenInput").value = base64;
                document.getElementById("avatarForm").submit();
            })
        });
    </script>
    {% else %}
    <div class="column">
        <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
    </div>
    {% endif %}

</div>

{% if graph %}
<div class="ct-chart"></div>

<script>
    let data = {{graph | json | safe}};
    new Chartist.Line('.ct-chart', data, {
        plugins: Object.keys(data.series).length>1 ? [
            Chartist.plugins.legend()
        ] : [],
        height: '300px',
    });
</script>
{% endif %}

{% endblock %}
