{% extends "layout.html" %}

{% block title %}
People
{% endblock %}

{% block body %}

{% for person in people %}
    {% if not loop.previtem or loop.previtem.class_name != person.class_name %}
        {% if loop.previtem %}
            </div>
        {% endif %}
        <h4 class="subtitle is-4 mb-1 mt-2">{{person.class_name or "No class"}}</h4>
        <div class="columns is-multiline">
    {% endif %}
    <a href="{{ url_for('edit', userId=person.id) }}" class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen">
        <div class="media">
            <div class="media-left">
                <img class="avatar" src="{{person.avatar}}" alt="Avatar">
            </div>
            <div class="media-content">
                <p class="title is-6">
                    {{person.full_name}}
                </p>
                <p class="subtitle is-6">
                    {{person.description}}
                </p>
            </div>
        </div>
    </a>
{% endfor %}
{% if people %}
    </div>
{% endif %}

{% if current_user.is_teacher %}
<a href="{{ url_for('new') }}" class="button is-primary mb-4">
    Add a person
</a>
{% endif %}

{% endblock %}