{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
Trial days
{% endblock %}

{% block body %}

<table class="xtable">
    <tr><td>Date</td><td>Slots</td><td>Students</td></tr>
{% for day in scheduled %}
    <tr>
        <td>{{day.date|date}}</td>
        <td>{{day.slots}}</td>
        <td>
            <table class="xtable">
                {% for student in day.students %}
                    <tr>
                        <td>{{student.first_name}} {{student.last_name}}</td>
                        <td><a href="{{student.url}}">reschedule</a></td>
                        <td><a href="mailto:{{student.email}}">email</a></td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endfor %}
</table>



<div class="notification">
    {{ form_macro(day_form, "") }}
</div>

<div class="notification">
    {{ form_macro(student_form, "") }}
</div>

{% endblock %}